.blog_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 59px 0 16px;

}

.blog_wrapper {
    margin: 50px 0 -18px;
}

.blog_list {
    display: flex;
    flex-wrap: wrap;

    & img {
        background: rgba(112, 187, 220, 0.2);
    }

    & li {
        margin-right: 20px;
        width: 380px;
        margin-bottom: 40px;
    }

    & p {
        color: #818181;
    }

    & h2 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #1E0606;
        margin-top: -5px;
    }

    & h2:hover,
    & h2:active {
        text-decoration: underline;
    }

    & li:nth-child(3n) {
        margin-right: -10px;
    }

    & span {
        display: block;
        width: 102%;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        margin-top: -8px;
    }
}
