.header {
  display: flex;
  align-items: center;
  margin: 33px auto;

  & a,
  & img {
    transition: .3s;
  }


  & a:hover,
  & img:hover {
    opacity: .5;
  }

  & a:active,
  & img:active {
    opacity: .3;
  }

  &__menu {
    margin: 0px auto 0 60px;
  }

  &__list {
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    display: flex;
  }

  &__list a {
    color: #1E0606;
    margin-right: 20px;
  }

  & button {
    margin-right: 19px;
    background: #FFFFFF;
  }
}
