.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__group {
        position: relative;
      }

      &__group a::after {
        position: absolute;
        content: 'LEARN MORE';
        width: 207px;
        height: 207px;
        background: #E5EAF8;
        top: 90px;
        left: 85px;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        text-align: center;
        color: #1E0606;
        display: none;
      }

      &__group a:hover::after {
        opacity: 0.9;
        display: flex;
      }

      &__group a:active::after {
        display: flex;
        background: #E5EAF899;
      }

      & img {
        background: #FFFFFF;
      }

      & li {
        margin-right: 20px;
        margin-bottom: 22px;
      }

      & a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }

      & span {
        margin-top: 24px;
        margin-left: 15px;
      }
  }
  
 
  .price {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 15px;
  }